
.latest_article_ajax img {
    width: auto;
    max-width: 100%;
}
.latest_stock {
    padding-left: 25px;
    padding-bottom: 1rem!important;
}


.latest_idea{
    /* margin-right: 30px; */
    margin-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* padding: 19px; */
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
}
.latest_article h3 {
   
    font-size: 1.7rem;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.latest_article_ajax img {
    width: auto;
    max-width: 100%;
}
.latest_stock {
    padding-left: 25px;
    padding-bottom: 1rem!important;
}
.article_name{
    color: rgb(164, 164, 164);
    margin: 4px 0px;
    font-size: 13px;
    font-weight: 500;
}
.latest_article_ajax h5 {
    font-weight: 700;
    line-height: 19px;
    font-size: 19px;
    overflow: hidden;
    color: rgb(0, 20, 100);
    margin-top: 12px;
}

ul.latest_news {
    list-style: none;
    padding: 65px;
    padding-bottom: 1rem!important;
}
ul.latest_news li {
    font-weight: 700;
    text-decoration: none;
    line-height: 19px;
    font-size: 17px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(0, 20, 100);
    margin-top: 12px;
}
ul.latest_news p {
    color: rgb(164, 164, 164);
    margin: 4px 0px;
    font-size: 14px;
    font-weight: 500;
}

ul.latest_news li {
    float: left;
    width: 50%;
}
ul.latest_news h5 {
    font-weight: 700;
    line-height: 19px;
    font-size: 19px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(0, 20, 100);
    margin-top: 0px;
    margin-right: 1.5%;
    padding: 0px;
}